[submodule "schoolMIPS"]
    path = schoolMIPS
    url = git://github.com/chneukirchen/rack.git

[submodule "schoolMIPS_01_mmio"]
    path = schoolMIPS_01_mmio
    url = git://github.com/MIPSfpga/schoolMIPS.git -b 01_mmio